In [33]:
from pyspark.sql import SparkSession
from pyspark.sql.window import Window
from pyspark.sql.functions import when,col,regexp_replace,regexp_extract,cast,row_number
from pyspark.sql.functions import concat_ws,count,isnan,round,avg,coalesce,lit,udf,StringType
spark=SparkSession.builder.master("local").appName("emp_clean").getOrCreate()

In [34]:
import os
inp_file1='all_emp.csv'
inp_file2='left_emp.csv'
inp_file_path=os.getcwd()+'/../datafiles/input/'
op_file_path=os.getcwd()+'/../datafiles/output/'

In [35]:
df_raw_allemp=spark.read.format('csv').option('header',True).option('inferSchema',True).load(inp_file_path+inp_file1)
df_raw_allemp.printSchema()
df_raw_left=spark.read.format('csv').option('header',True).option('inferSchema',True).load(inp_file_path+inp_file2)

root
 |-- emp_id: integer (nullable = true)
 |-- f_name: string (nullable = true)
 |-- l_name: string (nullable = true)
 |-- emp_dept: string (nullable = true)
 |-- doj: string (nullable = true)
 |-- city: string (nullable = true)
 |-- salary: integer (nullable = true)
 |-- mngr_id: integer (nullable = true)
 |-- total_exp: string (nullable = true)
 |-- location: integer (nullable = true)

In [36]:
#Transformations:

#1 Add a country field 'India'/'USA' and account 'Reliance'
#2 Clean total_exp field and convert it to Integer type and also remove whitespaces from department table
#3 Convert first letters of f_name and l_name in capital
#4 Combine f_name and l_name
#5 drop f_name and l_name
#6 Check and clean all the null/NAN values
#7 Impute salary where it is null, as average of the salaries of respective department

#8  Create bonus column for the currently working employees >1Lac: 17%;70k<15%,50k<12%,else 10%
#9 Based on the final salary, rank the employees by their experience, final salary dept-wise
#10 Save the final data in parquet format and exclude the intern role partition by country

In [37]:
#1 Add a country field 'India'/'USA' and account 'Reliance'
df_res1=df_raw_allemp.withColumn("location",when(col('location')==1,'India').when(col('location')==0,'USA'))
df_res1=df_res1.withColumn('account',lit("Reliance"))
#df_res2.show()

#2 Clean total_exp field and convert it to Integer type and also remove whitespaces from department table
df_res2=df_res1.withColumn('total_exp',regexp_extract('total_exp','\d+',0))
df_res2=df_res2.withColumn('total_exp',col('total_exp').cast('Integer'))
df_res2=df_res2.withColumn('emp_dept',regexp_replace(col('emp_dept'),'\s',''))
#df_res2.show()
#df_res2.printSchema()

#3 Convert first letters of f_name and l_name in capital
def convert_to_upper(string):
    string=string.replace(" ","")
    string=string[0].upper()+string[1:]
    return string

convert_df_upper=udf(lambda string:convert_to_upper(string),StringType())
df_res3=df_res2.withColumn('f_name',convert_df_upper(col('f_name')))
df_res3=df_res3.withColumn('l_name',convert_df_upper(col('l_name')))
#df_res3.show()

#4 Combine f_name and l_name
df_res4=df_res3.withColumn('f_name',concat_ws(' ',col('f_name'),col('l_name')))

#5 drop f_name and l_name
df_res5=df_res4.withColumnRenamed('f_name','name').drop('l_name')

#df_res5.show()

#df_res5=df_res5.withColumn('manager_name',df_res5.alias('emp1') \
#        .join(df_res5.alias('emp2'),col('emp1.mngr_id')==col('emp2.emp_id'),'left') \
#        .select(col('emp2.name').alias('manager_name')))

#6 Check and clean all the null/NAN values
df_res5.select([count(when(isnan(s) | col(s).isNull(),s)).alias(s) for s in df_res5.columns]).show()
#|emp_id|name|emp_dept|doj|city|salary|mngr_id|total_exp|location|account|
#|     1|   0|       2|  1|   3|     5|      0|        2|       0|      0|

df_res6=df_res5.dropna(subset=['emp_id','emp_dept','total_exp'])#.dropna(subset='')

#df_res6.select([count(when(isnan(s) | col(s).isNull(),s)).alias(s) for s in df_res5.columns]).show()
#|emp_id|name|emp_dept|doj|city|salary|mngr_id|total_exp|location|account|
#|     0|   0|       0|  0|   0|     4|      0|        0|       0|      0|

#filling the salary null fields with the average salary of respective departmens
spec1=Window.partitionBy('emp_dept')

#7 Impute salary where it is null, as average of the salaries of respective department
df_res7=df_res6.withColumn('salary',coalesce('salary',round(avg('salary').over(spec1))))
#df_res7.show()
#df_res7.select([count(when(isnan(s) | col(s).isNull(),s)).alias(s) for s in df_res5.columns]).show()
#|emp_id|name|emp_dept|doj|city|salary|mngr_id|total_exp|location|account|
#|     0|   0|       0|  0|   0|     0|      0|        0|       0|      0|

#8 Create manager column and
#Create bonus column for the currently working employees only >1Lac: 17%;70k<15%,50k<12%,else 10%

#fetching the current employees only
df_res8=df_res7.join(df_raw_left,df_res7.emp_id==df_raw_left.emp_id,'leftanti')

#adding managers column
df_res8=df_res8.alias('emp1') \
        .join(df_res5.alias('emp2'),col('emp1.mngr_id')==col('emp2.emp_id'),'left') \
        .select(col('emp1.emp_id'),col('emp1.name'),col('emp1.emp_dept'),col('emp1.doj'), \
                col('emp1.city'),col('emp1.salary'),col('emp1.mngr_id'),col('emp1.total_exp'), \
                col('emp1.location'),col('emp2.name').alias('manager_name'))

#adding bonus column
condition=when(col('salary')>=100000,col('salary')*.17) \
    .when(col('salary')>=70000,col('salary')*.15) \
    .when(col('salary')>=50000,col('salary')*.12) \
    .otherwise(col('salary')*.10)

df_res8=df_res8.withColumn('bonus',condition)
df_res8.show()
df_res8=df_res8.withColumn('salary',col('salary')+col('bonus')).drop('bonus')
#df_res8.show()

#9 Based on the final salary, rank the employees by their experience, final salary dept-wise

spec2=Window.partitionBy(col('emp_dept')).orderBy(col('total_exp').desc(),(col('salary')).desc())
df_res9=df_res8.withColumn('dept_rank',row_number().over(spec2))
#df_res9.select(col('name'),col('emp_dept'),col('salary'),col('bonus'),col('total_exp'),col('dept_rank')).show()
#df_res9.show()

#10 Save the final data in parquet format and exclude the intern role partition by country

df_res9.write.mode('overwrite').partitionBy('location').parquet(op_file_path)

+------+----+--------+---+----+------+-------+---------+--------+-------+
|emp_id|name|emp_dept|doj|city|salary|mngr_id|total_exp|location|account|
+------+----+--------+---+----+------+-------+---------+--------+-------+
|     1|   0|       2|  1|   3|     5|      0|        2|       0|      0|
+------+----+--------+---+----+------+-------+---------+--------+-------+

+------+----+--------+---+----+------+-------+---------+--------+-------+
|emp_id|name|emp_dept|doj|city|salary|mngr_id|total_exp|location|account|
+------+----+--------+---+----+------+-------+---------+--------+-------+
|     0|   0|       0|  0|   0|     0|      0|        0|       0|      0|
+------+----+--------+---+----+------+-------+---------+--------+-------+

+------+-------------------+--------+-----------+----------+--------+-------+---------+--------+-----------------+------------------+
|emp_id|               name|emp_dept|        doj|      city|  salary|mngr_id|total_exp|location|     manager_name|             bonus|
+------+-------------------+--------+-----------+----------+--------+-------+---------+--------+-----------------+------------------+
|   101|       Satish Kumar|designer| 12/12/2012|     Vizag| 98000.0|    100|       10|   India|    Rajeev Gautam|           14700.0|
|   102|  Shivani Srivastav|designer| 15/08/2016|     Noida| 72000.0|    100|        6|   India|    Rajeev Gautam|           10800.0|
|   110|       Radha Patole|designer| 11/08/2015|      Pune| 95000.0|    100|        7|   India|    Rajeev Gautam|           14250.0|
|   114|         Raman Jain|designer| 20/06/2014|   Kolkata| 88333.0|    109|        8|     USA|       Jetha Seth|13249.949999999999|
|   104|Akshara Parthsarthy|     dev| 25/03/2017|    Cochin| 45000.0|    102|        5|   India|Shivani Srivastav|            4500.0|
|   108|      Prashant Veer|     dev| 15/04/2020|   Ayodhya| 35000.0|    101|        2|   India|     Satish Kumar|            3500.0|
|   111|    Niharika Sherpa|     dev| 20/02/2018|   Gangtok| 50000.0|    110|        4|   India|     Radha Patole|            6000.0|
|   115|       Pulkit Anand|     dev| 22/04/2017|     Noida| 45000.0|    114|        5|     USA|       Raman Jain|            4500.0|
|   116| Jyothirmayi Koduru|     dev| 31/03/2019|Vijayawada| 45000.0|    114|        3|     USA|       Raman Jain|            4500.0|
|   100|      Rajeev Gautam| manager|  10/6/2011|      Kota|110000.0|    109|       13|     USA|       Jetha Seth|           18700.0|
|   109|         Jetha Seth| manager| 15/07/2008|    Meerut|200000.0|   1010|       14|     USA|             null|           34000.0|
|   105|          Vivek Das|  tester| 31/01/2018|    Indore| 47000.0|    102|        4|   India|Shivani Srivastav|            4700.0|
|   106|       Vedika Shree|  tester|  4/04/2017|    Prayag| 35000.0|    101|        5|   India|     Satish Kumar|            3500.0|
|   113|    Vikrant Prakash|  tester| 31/03/2018|Chandigarh| 45000.0|    110|        4|   India|     Radha Patole|            4500.0|
|   117|  Krishna Chaitanya|  tester| 31/03/2018|     Salem| 42333.0|    114|        4|     USA|       Raman Jain|            4233.3|
+------+-------------------+--------+-----------+----------+--------+-------+---------+--------+-----------------+------------------+

+------+-------------------+--------+-----------+----------+---------+-------+---------+--------+-----------------+---------+
|emp_id|               name|emp_dept|        doj|      city|   salary|mngr_id|total_exp|location|     manager_name|dept_rank|
+------+-------------------+--------+-----------+----------+---------+-------+---------+--------+-----------------+---------+
|   101|       Satish Kumar|designer| 12/12/2012|     Vizag| 112700.0|    100|       10|   India|    Rajeev Gautam|        1|
|   114|         Raman Jain|designer| 20/06/2014|   Kolkata|101582.95|    109|        8|     USA|       Jetha Seth|        2|
|   110|       Radha Patole|designer| 11/08/2015|      Pune| 109250.0|    100|        7|   India|    Rajeev Gautam|        3|
|   102|  Shivani Srivastav|designer| 15/08/2016|     Noida|  82800.0|    100|        6|   India|    Rajeev Gautam|        4|
|   104|Akshara Parthsarthy|     dev| 25/03/2017|    Cochin|  49500.0|    102|        5|   India|Shivani Srivastav|        1|
|   115|       Pulkit Anand|     dev| 22/04/2017|     Noida|  49500.0|    114|        5|     USA|       Raman Jain|        2|
|   111|    Niharika Sherpa|     dev| 20/02/2018|   Gangtok|  56000.0|    110|        4|   India|     Radha Patole|        3|
|   116| Jyothirmayi Koduru|     dev| 31/03/2019|Vijayawada|  49500.0|    114|        3|     USA|       Raman Jain|        4|
|   108|      Prashant Veer|     dev| 15/04/2020|   Ayodhya|  38500.0|    101|        2|   India|     Satish Kumar|        5|
|   109|         Jetha Seth| manager| 15/07/2008|    Meerut| 234000.0|   1010|       14|     USA|             null|        1|
|   100|      Rajeev Gautam| manager|  10/6/2011|      Kota| 128700.0|    109|       13|     USA|       Jetha Seth|        2|
|   106|       Vedika Shree|  tester|  4/04/2017|    Prayag|  38500.0|    101|        5|   India|     Satish Kumar|        1|
|   105|          Vivek Das|  tester| 31/01/2018|    Indore|  51700.0|    102|        4|   India|Shivani Srivastav|        2|
|   113|    Vikrant Prakash|  tester| 31/03/2018|Chandigarh|  49500.0|    110|        4|   India|     Radha Patole|        3|
|   117|  Krishna Chaitanya|  tester| 31/03/2018|     Salem|  46566.3|    114|        4|     USA|       Raman Jain|        4|
+------+-------------------+--------+-----------+----------+---------+-------+---------+--------+-----------------+---------+