In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import *
spark=SparkSession.builder.master('local').appName('learn_pyspark').getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

22/12/15 14:43:48 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
22/12/15 14:43:57 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

In [20]:
#defining schemas for both the dataframes
schema1=['emp_id','emp_name','city','manager_id',]
schema2=['emp_id','emp_name','dept_name','experience']

#creating some ata for both the dataframes
data1=[[101,'Abc','DEL',1101],[102,'Def','MUB',1102],[103,'Ghi','BHV',1102],[104,'Jkl','CHE',1101]]
data2=[[105,'Mno','Designer',12],[106,'Pqr','Designer',11],[107,'Stu','Testing',7],[108,'Vwx','Dev',5]]


df_emp1=spark.createDataFrame(data1,schema1)
df_emp2=spark.createDataFrame(data2,schema2)

df_emp1.show()
df_emp2.show()

+------+--------+----+----------+
|emp_id|emp_name|city|manager_id|
+------+--------+----+----------+
|   101|     Abc| DEL|      1101|
|   102|     Def| MUB|      1102|
|   103|     Ghi| BHV|      1102|
|   104|     Jkl| CHE|      1101|
+------+--------+----+----------+

+------+--------+---------+----------+
|emp_id|emp_name|dept_name|experience|
+------+--------+---------+----------+
|   105|     Mno| Designer|        12|
|   106|     Pqr| Designer|        11|
|   107|     Stu|  Testing|         7|
|   108|     Vwx|      Dev|         5|
+------+--------+---------+----------+

In [22]:
def match_schema(df1,df2):
    for column in df1.columns:
        if column not in df2.columns:
            df2=df2.withColumn(column,lit(None))
            
    for column in df2.columns:
        if column not in df1.columns:
            df1=df1.withColumn(column,lit(None))
            
    return df1,df2

#calling the macth_schema function here
df_emp1,df_emp2=match_schema(df_emp1,df_emp2)
#df_emp1.show()
#df_emp2.show()

#unionByName Function to merge both the dataframes
df_emp=df_emp1.unionByName(df_emp2)

df_emp.show()

+------+--------+----+----------+---------+----------+
|emp_id|emp_name|city|manager_id|dept_name|experience|
+------+--------+----+----------+---------+----------+
|   101|     Abc| DEL|      1101|     null|      null|
|   102|     Def| MUB|      1102|     null|      null|
|   103|     Ghi| BHV|      1102|     null|      null|
|   104|     Jkl| CHE|      1101|     null|      null|
|   105|     Mno|null|      null| Designer|        12|
|   106|     Pqr|null|      null| Designer|        11|
|   107|     Stu|null|      null|  Testing|         7|
|   108|     Vwx|null|      null|      Dev|         5|
+------+--------+----+----------+---------+----------+